@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme{
    --color-primary:#ff4f00;
    --color-primary-grad:#ff6c0a;
    --color-primary-hover:#fff7ec;
    --color-black-1:#151515;
    --color-black-2:#101010;

    --color-gray-1:#666666;
    --color-gray-2:#b8b8b8;
    --color-gray-3:#aaaaaa;
    --color-gray-4:#e6e6e6;
    --color-gray-5:#696777;
    --color-gray-6:#555555;
    --color-white-1:#FDFDFC;
    --color-white-2:#Ffecd3;
    --color-white-3:#Ffd6a5;

    --color-pastel-1:#e6e6fa;
    --color-pastel-2:#e0e7ff;
    --color-pastel-3:#fff7ec;
    --color-pastel-4:#fae8ff;


}
 @font-face {
                font-family: "InterDisplay";
                src: url("./assets/fonts/InterDisplay400.woff2");
                font-display: swap;
                font-style: normal;
                font-weight: 400
            }

            @font-face {
                font-family: "InterDisplay";
                src: url("./assets/fonts/InterDisplay500.woff2");
                font-display: swap;
                font-style: normal;
                font-weight: 500
            }
            @font-face {
                font-family: "InterDisplay";
                src: url("./assets/fonts/InterDisplay700.woff2");
                font-display: swap;
                font-style: normal;
                font-weight: 700
            }

            @font-face {
                font-family: "InterDisplay";
                src: url("./assets/fonts/InterDisplayItalic.woff2");
                font-display: swap;
                font-style: italic;
                font-weight: 400
            }
            @font-face {
                font-family: "InterDisplay";
                src: url("./assets/fonts/InterDisplayItalicBold.woff2");
                font-display: swap;
                font-style: italic;
                font-weight: 500
            }


*,button,a,input,textarea ,select{
    font-family: 'InterDisplay','Inter', sans-serif;
    letter-spacing: -.05em;
    line-height: 1.2;
  
    
}
body{
    overflow-x: hidden;
    position: relative;
}
.btn-shadow{
    /* outside */
    box-shadow: rgba(0, 0, 0, 0.13) 0.301094px 0.602187px 0.673266px -0.833333px, rgba(0, 0, 0, 0.13) 1.14427px 2.28853px 2.55866px -1.66667px, rgba(0, 0, 0, 0.13) 5px 10px 11.1803px -2.5px;
}
.btn-shadow-inset{
    box-shadow: rgba(0, 0, 0, 0.16) 0px -0.361312px 0.939412px -1.08333px inset, rgba(0, 0, 0, 0.15) 0px -1.37312px 3.57011px -2.16667px inset, rgba(0, 0, 0, 0.09) 0px -6px 15.6px -3.25px inset;
}


.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.cta-shadow{
    box-shadow: rgba(0, 0, 0, 0.125) 0.180656px 0.180656px 1.27743px -0.833333px, rgba(0, 0, 0, 0.125) 0.68656px 0.68656px 4.85471px -1.66667px, rgba(0, 0, 0, 0.125) 3px 3px 21.2132px -2.5px;
}